

<table class="table table-bordered table-warning table-hover">
    <thead>
      <tr>

        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">department</th>
        <th>operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students;index as i" >

        <td>{{student._id}}</td>
        <td>{{student.Name}}</td>
        <td>{{student.Email}}</td>
        <td>------DATA-----</td>
        <!-- <td>{{student.Department}}</td> -->
        <td>

          <a   class="btn btn-info" [routerLink]="[ '/student/edit', student._id ]">Edit</a>
          &nbsp; &nbsp; &nbsp;
          <a   class="btn btn-success" [routerLink]="[ '/student/details', student._id ]">Details</a>
          &nbsp; &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="deletestudent(student._id)" >delete</button>
          &nbsp; &nbsp; &nbsp;
        </td>
      </tr>

    </tbody>
  </table>

<router-outlet>

</router-outlet>
